<div class='row'>
  <div class='col-auto'>
    <h2>{{name}}'s Dashboard!</h2>
  </div>
</div>

<div id="usersComments">
  {{#if comments.length}}
    <div class='col-md-6 comment-list'>
      {{#each comments as |comment|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a href='/comment/{{comment.id}}'>{{comment.title}}</a></h4>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>


<div id="addComment" class='hide row mt-4'>
  <div class='col-md-6 card'>
      <form class='form new-comment-form'>
      <div class='form-group'>
        <label for='comment-title'>Title:</label>
        <input
          class='form-input'
          type='text'
          id='comment-title'
          name='comment-title'
        />
      </div>
      <div class='form-group'>
        <label for='comment-comment'>Content:</label>
        <textarea
          class='form-input'
          id='comment-comment'
          name='comment-comment'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
    </form>
  </div>
</div>

<button class="newPostBtn" type="button">+ New Post</button>

<script src='./js/profile.js'></script>