:root{
  --darkStuff: #231010 ;
  --lightStuff: #D9EAD3 ;
}

header{
  background-color: var(--darkStuff);
  padding: 25px;
}

nav{
  color: var(--lightStuff);
}

a{
  text-decoration: none;
  color: inherit;
  margin: 15px;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  text-decoration: none;
}

.hide{
  display: none;
}

#techBlogTitle{
  background-color: var(--lightStuff);
  color: var(--darkStuff);
  width: max-content;
  border-radius: 7px;
  padding: 1px;
}

body{
  background-color: var(--lightStuff);
}

.titleText{
  color:var(--lightStuff);
}

.title{
background-color: var(--darkStuff);
padding-left: 15px;
justify-content: space-between;
}

.commentText{
  color: var(--darkStuff);
}

.comment{
background-color: var(--lightStuff);
width: 100%;
padding: 15px;

}

.userText{
  color: var(--lightStuff);
  font-size: 14px;
  margin: 0 10px 0 0;
}

.card{
  border: 20px solid var(--darkStuff);
}